<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="!isLoading">
  <div *ngIf="!pendingPrescriptions.length">No items</div>
  <div *ngFor="let pres of pendingPrescriptions">
    <mat-card>
      <b>{{ pres.userId.email }}</b
      ><br />
      <small class="text-muted">{{
        pres.createdAt | date: "short":"+0530"
      }}</small>
      <br /><br />
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let med of pres.medicines">
          {{ med }}
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>

      <br />
      <button mat-raised-button (click)="onComplete(pres)" color="primary">
        Mark as completed
      </button>
    </mat-card>
    <br />
  </div>
</div>
